.argument, .solution {
    display: grid;
    grid-template-columns: repeat(10, 1ch);
    width: 10ch;
    font-family: 'Courier New', Courier, monospace;
}

.solution {
    border-top: 1px solid black;
}

.solution .operator {
    border-top: 0px solid black;
}

.operator {
    grid-column: 1;
}

.argument .operator {
    position: relative;
    top: 1lh;
}

.open-parenth {
    grid-column: 2;
}

.integer {
    grid-column: 3/6;
    justify-self: end;
}

.decimal-point {
    grid-column: 7;
}

.decimals {
    grid-column: 8/9;
}

.close-parenth {
    grid-column: 10;
}