* {
    font-family:'Courier New', Courier, monospace
}

body {
    background-color: gray;
    height: 100vh;
    width: 100vh;
}

#calculator-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 50%;
    margin: auto;
}

#input-display {
    grid-column: 1/4;
    width: 100%;
    box-sizing: border-box;
}

/* Classes for setting grid positions */
.row-one {
    grid-row: 1;
}

.row-two {
    grid-row: 2;
}

.row-three {
    grid-row: 2;
}

.row-four {
    grid-row: 3;
}

.row-five {
    grid-row: 4;
}

.row-six {
    grid-row: 5;
}

.column-one {
    grid-column: 1;
}

.column-two {
    grid-column: 2;
}

.column-three {
    grid-column: 3;
}

.column-four {
    grid-column: 4;
}

.column-five {
    grid-column: 5;
}


/* Class for the currently-selected operator */
.active-operator {
    background-color: green;
}

/* CALCULATION DISPLAY STYLE*/

.argument, .solution {
    display: grid;
    width: 10ch;
}

.solution {
    border-top: 1px solid black;
}

.solution .operator {
    border-top: 0px solid black;
}

.argument .operator {
    position: relative;
    top: 1lh;
}

.integer {
    justify-self: end;
}

.problem-title {
    font-weight: bold;
}