* {
    font-family:'Courier New', Courier, monospace
}

#calculator-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#input-display {
    grid-column: 1/3;
}

.row-one {
    grid-row: 1;
}

.row-two {
    grid-row: 2;
}

.row-three {
    grid-row: 3;
}

.row-four {
    grid-row: 4;
}

.row-five {
    grid-row: 5;
}

.row-six {
    grid-row: 6;
}